---
import { setAttr } from '../../lib/directus';

interface Props {
  block: any;
  locale: string;
}

const { block, locale } = Astro.props;

const title = block?.[`nh_title_${locale}`] || 'News';
const description = block?.[`nh_description_${locale}`] || 'Once, a Wunderkammer gathered the wonders of art, nature and invention in one place.\nAt Oddny, we carry that spirit forward — exploring, connecting and sharing insights from the creative and financial worlds to protect, inspire and expand what creativity can achieve.\n\nA space to discover, to be inspired, and to spark new possibilities.';
---

<section class="news-header-widget">
  <div class="news-header-container">
    <div class="news-header-content">
      <h1 class="news-header-title" data-directus={setAttr?.({ collection: 'blocks', item: block.id, fields: [`nh_title_${locale}`], mode: 'popover' })}>
        {title}
      </h1>
      <div class="news-header-description" data-directus={setAttr?.({ collection: 'blocks', item: block.id, fields: [`nh_description_${locale}`], mode: 'popover' })}>
        {description.split('\n\n').map((paragraph: string) => (
          <p>{paragraph}</p>
        ))}
      </div>
    </div>
    
    <div class="news-header-bear">
      <svg width="557" height="513" viewBox="0 0 557 513" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2082_3075)">
          <path d="M161.579 166.541L129.011 143.327L128.812 143.938C128.639 144.47 128.586 145.001 128.613 145.546L131.759 191.615C131.799 192.226 131.972 192.811 132.264 193.356L132.556 193.901L161.566 166.541H161.579Z" fill="#91DBD4"/>
          <path d="M129.276 144.085C129.13 144.537 129.064 145.015 129.104 145.52L132.25 191.589C132.29 192.147 132.45 192.678 132.702 193.144L160.849 166.608L129.276 144.098M128.772 142.57L129.821 143.314L161.393 165.824L162.322 166.488L161.486 167.272L133.339 193.808L132.45 194.658L131.865 193.569C131.547 192.971 131.361 192.32 131.308 191.642L128.161 145.573C128.121 144.975 128.188 144.377 128.374 143.792L128.759 142.557L128.772 142.57Z" fill="white"/>
          <path d="M136.406 195.655L216.346 190.18C216.651 190.154 216.943 190.114 217.222 190.034L218.178 189.768L185.743 166.647L175.4 176.401L163.836 168.149L134.747 195.575L135.822 195.655C135.941 195.655 136.048 195.655 136.167 195.655C136.247 195.655 136.34 195.655 136.419 195.655H136.406Z" fill="#91DBD4"/>
          <path d="M185.769 167.245L175.427 176.999L163.849 168.747L135.822 195.176C135.928 195.176 136.034 195.176 136.141 195.176C136.22 195.176 136.287 195.176 136.366 195.176L216.306 189.702C216.571 189.689 216.837 189.635 217.089 189.569L185.782 167.245M185.689 166.036L186.313 166.488L217.62 188.812L219.227 189.954L217.328 190.486C217.009 190.579 216.691 190.632 216.359 190.659L136.419 196.133C136.326 196.133 136.234 196.133 136.141 196.133C136.008 196.133 135.888 196.133 135.756 196.12L133.605 195.974L135.171 194.499L163.199 168.069L163.756 167.538L164.38 167.989L175.32 175.789L185.105 166.568L185.663 166.036H185.689Z" fill="white"/>
          <path d="M214.619 135.7L213.716 135.527C213.438 135.474 213.159 135.448 212.88 135.448C212.787 135.448 212.694 135.448 212.601 135.448L132.662 140.922C132.37 140.936 132.091 140.989 131.825 141.069L130.869 141.334L175.161 172.92L214.619 135.714V135.7Z" fill="#91DBD4"/>
          <path d="M212.88 135.913C212.801 135.913 212.721 135.913 212.628 135.913L132.689 141.387C132.436 141.401 132.184 141.454 131.932 141.52L164.752 164.92L175.108 172.308L184.362 163.578L213.624 135.992C213.385 135.939 213.132 135.913 212.88 135.913ZM212.88 134.969C213.186 134.969 213.491 134.996 213.81 135.062L215.615 135.408L214.274 136.67L185.012 164.256L175.758 172.986L175.201 173.517L174.577 173.066L164.221 165.677L131.401 142.278L129.781 141.122L131.706 140.603C132.011 140.524 132.33 140.47 132.635 140.444L212.575 134.969C212.681 134.969 212.787 134.969 212.894 134.969H212.88Z" fill="white"/>
          <path d="M220.182 187.124C220.341 186.606 220.407 186.075 220.368 185.543L217.221 139.474C217.194 139.009 217.088 138.557 216.902 138.119L216.637 137.481L187.733 164.734L219.983 187.736L220.182 187.111V187.124Z" fill="#91DBD4"/>
          <path d="M216.465 138.305L188.477 164.694L219.731 186.978C219.863 186.54 219.93 186.061 219.903 185.57L216.757 139.501C216.73 139.075 216.624 138.663 216.478 138.291M216.81 136.684L217.328 137.946C217.527 138.424 217.646 138.929 217.686 139.447L220.833 185.516C220.872 186.101 220.806 186.699 220.62 187.27L220.235 188.52L219.173 187.762L187.92 165.478L186.99 164.814L187.827 164.03L215.814 137.64L216.81 136.697V136.684Z" fill="white"/>
          <path d="M226.66 375.692L247.863 452.788L240.906 453.16C240.787 453.16 240.681 453.227 240.627 453.32L228.094 472.6L186.843 474.647L169.052 436.936L226.66 375.692Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M482.902 434.637L430.366 437.68C430.22 437.68 430.1 437.773 430.047 437.906L415.987 473.491L403.64 466.169L486.367 183.735L524.286 227.971L535.89 303.592L552.95 429.282L538.346 460.043L458.234 498.405L483.234 435.142C483.274 435.022 483.26 434.903 483.194 434.796C483.128 434.703 483.021 434.65 482.902 434.65C482.902 434.65 482.889 434.65 482.875 434.65L482.902 434.637Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M387.097 457.253L357.569 463.565C347.678 369.021 350.599 302.755 366.783 255.078C381.666 211.188 406.667 186.074 435.398 160.043L459.322 148.496L485.836 183.045L403.029 465.784L387.362 457.279C387.362 457.279 387.256 457.24 387.19 457.24C387.163 457.24 387.136 457.24 387.11 457.24L387.097 457.253Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M288.398 450.609L248.594 452.748L235.291 404.859C229.834 385.193 224.152 364.078 219.624 342.884C214.101 317.013 212.747 290.464 215.575 263.981C218.376 237.857 225.187 212.371 235.822 188.2L273.116 238.721L305.047 295.141L298.794 457.758L288.61 450.675C288.61 450.675 288.477 450.609 288.411 450.609C288.411 450.609 288.411 450.609 288.398 450.609Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M288.317 451.34L312.879 468.521L313.849 486.672L216.397 491.921L241.119 453.891L288.304 451.353L288.317 451.34Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M122.452 440.457L156.307 411.609L186.127 474.833L165.03 483.51L136.631 474.952L122.452 440.457Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M416.571 473.983L430.644 438.384L482.384 435.395L453.228 509.155L431.454 500.532L416.571 473.983Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M387.11 457.997L403.082 466.674L414.553 473.464L418.576 492.32L323.143 512.716L340.934 467.87L387.11 457.997Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M305.83 295.234L392.501 204.358C384.11 216.185 379.928 222.284 373.077 237.286C367.448 249.604 363.345 261.948 359.827 277.362C357.464 287.713 350.294 319.192 351.409 382.854C351.874 409.669 353.72 436.79 356.906 463.724L340.655 467.206C340.536 467.232 340.443 467.312 340.39 467.432L338.531 472.282L313.849 472.388L313.637 468.455C313.637 468.348 313.571 468.242 313.478 468.176L299.537 458.396L305.817 295.247L305.83 295.234Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M242.911 5.73145L265.495 24.3477C259.68 26.7263 254.223 29.8223 248.992 33.2905C244.505 36.2803 240.229 39.6687 236.3 43.376L226.9 27.0983L242.911 5.74474V5.73145Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M207.913 100.434L219.902 118.266L201.288 129.122L194.159 114.532L207.913 100.42V100.434Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M219.902 118.266L207.913 100.434L194.159 114.546L201.288 129.136L219.902 118.266Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M208.418 99.9024L220.712 118.187C220.765 118.266 220.792 118.373 220.765 118.466C220.739 118.559 220.686 118.652 220.593 118.691L201.594 129.774L210.303 147.593H234.122L251.01 128.578V56.2119L208.405 99.9024H208.418Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M263.676 75.2798C261.619 75.2798 259.946 76.9541 259.946 79.0137C259.946 81.0733 261.619 82.7476 263.676 82.7476C265.734 82.7476 267.407 81.0733 267.407 79.0137C267.407 76.9541 265.734 75.2798 263.676 75.2798Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M361.38 99.7162L284.202 172.454L236.299 146.303L251.661 128.963C251.661 128.963 251.754 128.817 251.754 128.724V55.3348C251.754 55.1886 251.661 55.0557 251.528 55.0026C251.395 54.9494 251.236 54.976 251.13 55.0823L215.15 91.9827C215.256 91.3715 215.362 90.6938 215.482 89.9629C216.995 80.6614 219.81 63.3606 231.732 49.3818C244.398 34.5393 262.468 25.7161 270.275 23.125C286.406 17.0391 304.104 14.7138 321.496 16.4013L315.27 24.7195C315.177 24.8391 315.177 24.9853 315.243 25.1182L324.988 42.007C325.041 42.1133 325.148 42.1798 325.267 42.1798L349.444 44.3191C349.603 44.3191 349.749 44.2394 349.803 44.0932L356.481 26.3805L361.367 99.7295L361.38 99.7162ZM227.55 75.9442C227.55 74.0574 226.01 72.516 224.125 72.516C222.239 72.516 220.699 74.0574 220.699 75.9442C220.699 77.8444 222.239 79.3725 224.125 79.3725C226.01 79.3725 227.55 77.8311 227.55 75.9442ZM268.124 79.0138C268.124 76.5555 266.132 74.549 263.676 74.549C261.22 74.549 259.215 76.5555 259.215 79.0138C259.215 81.472 261.22 83.4785 263.676 83.4785C266.132 83.4785 268.124 81.472 268.124 79.0138Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M224.112 73.2334C222.612 73.2334 221.403 74.4559 221.403 75.9441C221.403 77.4456 222.625 78.6548 224.112 78.6548C225.599 78.6548 226.82 77.4324 226.82 75.9441C226.82 74.4426 225.599 73.2334 224.112 73.2334Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M315.987 24.9455L332.158 3.36599L339.354 0.283203L353.082 10.0631L356.468 24.3077L349.245 43.5618L325.52 41.4623L315.987 24.9455Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M241.876 150.17L284.083 173.211C284.216 173.291 284.388 173.264 284.508 173.158L362.004 100.128C362.084 100.048 362.124 99.942 362.11 99.8357L356.959 24.8257L458.951 147.831L435.106 159.339C435.106 159.339 435.053 159.365 435.026 159.392C430.512 163.325 417.236 175.59 407.225 186.419C399.989 194.233 395.063 200.744 395.037 200.784L305.498 294.463L273.714 238.309L236.087 187.35L241.85 150.183L241.876 150.17Z" fill="#00FC26" stroke="white" stroke-width="0.71" stroke-miterlimit="10"/>
          <path d="M86.6934 470.955L58.5865 451.661L58.3077 451.914C58.0023 452.179 57.8164 452.498 57.75 452.844L53.0633 476.576C52.9837 476.961 53.0633 477.373 53.289 477.772L53.4616 478.077L86.6934 470.942V470.955Z" fill="#91DBD4"/>
          <path d="M58.6259 452.259C58.4135 452.445 58.2674 452.671 58.2143 452.937L53.5276 476.669C53.4745 476.961 53.5276 477.253 53.7002 477.546L85.5114 470.716L58.6126 452.246M58.5463 451.063L59.157 451.488L86.0557 469.958L87.8613 471.194L85.7238 471.659L53.9126 478.489L53.2355 478.635L52.8903 478.037C52.6115 477.546 52.5186 477.014 52.6115 476.509L57.2982 452.777C57.3912 452.325 57.6302 451.913 58.0019 451.581L58.5463 451.09V451.063Z" fill="white"/>
          <path d="M109.741 476.243L98.0571 478.755L88.2057 471.991L54.4296 479.246L56.315 479.751C56.4876 479.804 56.6734 479.844 56.8593 479.884L135.458 495.431C135.737 495.484 136.015 495.524 136.294 495.551L138.073 495.71L109.754 476.27L109.741 476.243Z" fill="#91DBD4"/>
          <path d="M88.0864 472.496L56.408 479.3C56.5806 479.34 56.7533 479.393 56.9259 479.419L135.524 494.966C135.79 495.019 136.055 495.059 136.308 495.072L109.635 476.762L97.951 479.273L88.0864 472.51M88.2856 471.486L88.6175 471.712L98.1369 478.25L109.435 475.832L109.834 475.752L110.166 475.978L136.839 494.288L139.786 496.308L136.215 496.003C135.923 495.976 135.63 495.936 135.338 495.883L56.74 480.336C56.5408 480.296 56.3417 480.243 56.1558 480.19L52.4383 479.167L56.2089 478.356L87.8873 471.553L88.2856 471.473V471.486Z" fill="white"/>
          <path d="M143.703 467.606L142.11 467.048C141.791 466.942 141.446 466.849 141.088 466.769L62.4892 451.236C62.2237 451.182 61.9448 451.143 61.6926 451.116L59.9002 450.957L98.3232 477.346L143.703 467.606Z" fill="#91DBD4"/>
          <path d="M61.6525 451.594L89.6134 470.782L98.4424 476.841L108.905 474.596L141.977 467.5C141.672 467.394 141.353 467.301 141.021 467.234L62.4226 451.687C62.1703 451.634 61.9181 451.608 61.6658 451.581M58.1475 450.319L61.7455 450.651C62.0243 450.678 62.3164 450.717 62.5952 450.771L141.194 466.317C141.552 466.384 141.924 466.49 142.282 466.61L145.469 467.713L142.176 468.417L109.104 475.513L98.6416 477.758L98.2433 477.838L97.9114 477.612L89.0823 471.553L61.1215 452.365L58.1475 450.319Z" fill="white"/>
          <path d="M139.64 494.727C139.932 494.461 140.118 494.155 140.185 493.81L144.871 470.064C144.924 469.759 144.898 469.453 144.778 469.134L144.632 468.762L111.533 475.871L139.375 494.979L139.654 494.727H139.64Z" fill="#91DBD4"/>
          <path d="M144.327 469.307L112.688 476.097L139.321 494.381C139.534 494.195 139.667 493.969 139.72 493.717L144.406 469.985C144.446 469.759 144.42 469.533 144.34 469.32M144.911 468.217L145.203 468.962C145.362 469.36 145.402 469.759 145.322 470.157L140.636 493.89C140.543 494.328 140.317 494.74 139.945 495.072L139.388 495.577L138.777 495.152L112.144 476.868L110.338 475.632L112.476 475.167L144.114 468.377L144.898 468.204L144.911 468.217Z" fill="white"/>
          <path d="M38.3305 447.979L3.74451 441.973L3.63828 442.398C3.53206 442.81 3.54536 443.222 3.66486 443.594L12.4806 471.432C12.6134 471.857 12.8789 472.216 13.2772 472.508L13.6091 472.761L38.3438 447.979H38.3305Z" fill="#91DBD4"/>
          <path d="M4.10254 442.517C4.02288 442.836 4.02288 443.155 4.10254 443.447L12.9183 471.285C13.0245 471.631 13.2503 471.91 13.5423 472.136L37.3476 448.284L4.08925 442.517M3.39888 441.441L4.26186 441.587L37.5202 447.354L39.3125 447.66L38.0379 448.949L14.2327 472.8L13.6485 473.385L12.998 472.893C12.5333 472.548 12.2014 472.083 12.0421 471.578L3.22627 443.74C3.08023 443.275 3.06696 442.783 3.19973 442.291L3.41217 441.454L3.39888 441.441Z" fill="white"/>
          <path d="M16.9402 473.039C17.1261 472.999 17.3119 472.946 17.4978 472.893L93.8658 448.643C94.1446 448.549 94.4101 448.457 94.6623 448.337L96.0166 447.699L61.3111 441.68L52.5617 450.436L40.3737 448.324L15.347 473.398L16.9402 473.039Z" fill="#91DBD4"/>
          <path d="M61.4708 442.185L52.7214 450.941L40.5334 448.829L16.8343 472.574C17.0069 472.534 17.1795 472.494 17.3521 472.441L93.7201 448.191C93.9723 448.111 94.2246 448.018 94.4503 447.898L61.4575 442.171M61.1522 441.175L61.6301 441.255L94.6229 446.982L97.5703 447.5L94.8619 448.762C94.5831 448.895 94.3042 449.001 94.0121 449.094L17.6442 473.345C17.4451 473.411 17.2459 473.464 17.0468 473.504L13.8869 474.208L16.1705 471.923L39.8695 448.178L40.2147 447.832L40.6927 447.912L52.4028 449.945L60.807 441.534L61.1522 441.188V441.175Z" fill="white"/>
          <path d="M85.728 414.812L84.3339 415.011C83.9887 415.064 83.6435 415.131 83.285 415.25L6.91708 439.501C6.65155 439.581 6.39928 439.687 6.1603 439.793L4.77954 440.431L52.005 448.63L85.7412 414.825L85.728 414.812Z" fill="#91DBD4"/>
          <path d="M84.4001 415.476C84.0815 415.516 83.7628 415.596 83.4309 415.702L7.063 439.953C6.81075 440.032 6.58504 440.125 6.35934 440.232L40.932 446.238L51.8455 448.125L59.6655 440.285L84.4001 415.49M87.0555 414.147L85.064 416.141L60.3294 440.936L52.5093 448.776L52.1642 449.121L51.6862 449.041L40.7727 447.155L6.20002 441.148L3.226 440.63L5.9743 439.368C6.23983 439.248 6.51864 439.142 6.79745 439.049L83.1654 414.799C83.5238 414.679 83.8956 414.599 84.2939 414.546L87.082 414.147H87.0555Z" fill="white"/>
          <path d="M97.1458 445.733C97.252 445.321 97.2387 444.923 97.1192 444.564L88.3034 416.726C88.1972 416.407 88.0246 416.114 87.7591 415.862L87.4272 415.53L62.7855 440.219L97.0395 446.158L97.1458 445.733Z" fill="#91DBD4"/>
          <path d="M87.4272 416.181L63.7548 439.9L96.6944 445.613C96.7741 445.308 96.7741 444.989 96.6812 444.696L87.8654 416.858C87.7857 416.606 87.6396 416.38 87.4405 416.181M87.414 414.865L88.0778 415.516C88.3964 415.822 88.6089 416.181 88.7416 416.579L97.5574 444.417C97.7035 444.869 97.7167 445.348 97.584 445.853L97.3715 446.703L96.5085 446.557L63.5689 440.843L61.7765 440.537L63.0511 439.248L86.7236 415.53L87.3874 414.865H87.414Z" fill="white"/>
          <path d="M152.957 367.535L152.545 367.668C152.134 367.801 151.802 368.014 151.55 368.306L133.241 390.151C132.962 390.483 132.803 390.909 132.763 391.387L132.736 391.786L166.672 399.705L152.957 367.535Z" fill="#91DBD4"/>
          <path d="M152.692 368.12C152.386 368.213 152.121 368.372 151.922 368.612L133.613 390.457C133.387 390.723 133.268 391.055 133.241 391.427L165.876 399.041L152.692 368.12ZM153.223 366.964L153.555 367.748L166.739 398.669L167.469 400.383L165.663 399.958L133.029 392.344L132.245 392.158L132.299 391.36C132.338 390.789 132.538 390.258 132.883 389.859L151.191 368.014C151.497 367.642 151.908 367.376 152.4 367.23L153.21 366.977L153.223 366.964Z" fill="white"/>
          <path d="M184.305 415.717L172.316 412.913L167.483 401.578L133.136 393.566L134.318 394.735C134.45 394.868 134.596 395.001 134.742 395.121L196.121 446.664C196.347 446.85 196.572 447.023 196.798 447.169L198.086 448.006L184.305 415.704V415.717Z" fill="#91DBD4"/>
          <path d="M134.636 394.403C134.755 394.523 134.888 394.642 135.034 394.762L196.413 446.306C196.625 446.478 196.837 446.638 197.05 446.771L183.972 416.102L171.983 413.299L167.151 401.964L134.649 394.377M131.635 392.742L134.862 393.5L167.363 401.087L167.828 401.193L168.014 401.632L172.66 412.528L184.185 415.212L184.649 415.318L184.835 415.757L197.913 446.425L199.121 449.242L196.545 447.581C196.293 447.422 196.041 447.236 195.815 447.036L134.437 395.493C134.277 395.36 134.131 395.214 133.985 395.081L131.635 392.742Z" fill="white"/>
          <path d="M218.85 421.205C218.625 420.939 218.372 420.687 218.094 420.448L156.715 368.904C156.503 368.731 156.277 368.559 156.064 368.412L154.763 367.575L173.497 411.492L219.793 422.295L218.85 421.205Z" fill="#91DBD4"/>
          <path d="M155.799 368.811L169.5 400.954L173.828 411.093L184.556 413.591L218.478 421.511C218.266 421.271 218.04 421.032 217.775 420.806L156.396 369.263C156.197 369.09 155.998 368.944 155.785 368.811M153.727 366.339L156.316 368.027C156.555 368.186 156.794 368.359 157.02 368.545L218.399 420.089C218.691 420.328 218.956 420.607 219.208 420.899L221.094 423.092L218.292 422.441L184.37 414.521L173.643 412.023L173.178 411.917L172.992 411.478L168.664 401.34L154.962 369.196L153.754 366.353L153.727 366.339Z" fill="white"/>
          <path d="M200.29 447.913C200.688 447.78 201.007 447.568 201.259 447.275L219.568 425.43C219.78 425.178 219.926 424.872 220.006 424.513L220.099 424.061L186.296 416.168L199.891 448.033L200.303 447.9L200.29 447.913Z" fill="#91DBD4"/>
          <path d="M187.092 416.846L200.143 447.462C200.449 447.369 200.701 447.209 200.9 446.97L219.209 425.125C219.381 424.925 219.487 424.686 219.541 424.42L187.079 416.846M185.486 415.518L187.291 415.943L219.753 423.517L220.643 423.729L220.457 424.633C220.364 425.058 220.191 425.444 219.926 425.763L201.617 447.608C201.312 447.967 200.913 448.232 200.435 448.392L199.612 448.658L199.28 447.86L186.229 417.245L185.499 415.531L185.486 415.518Z" fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_2082_3075">
            <rect width="557" height="513" fill="white" transform="matrix(-1 0 0 1 557 0)"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</section>

<style>
  .news-header-widget {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    background: white;
  }

  .news-header-container {
    max-width: var(--content-max-width, 1400px);
    margin: 0 auto;
    padding: 60px var(--content-padding, 80px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    position: relative;
  }

  .news-header-content {
    flex: 0 0 616px;
    max-width: 616px;
  }

  .news-header-title {
    font-size: 80px;
    font-weight: 500;
    line-height: 85px;
    color: #42383e;
    margin: 0 0 40px 0;
    cursor: pointer;
  }

  .news-header-description {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    color: #888484;
    cursor: pointer;
  }

  .news-header-description p {
    margin: 0 0 30px 0;
  }

  .news-header-description p:last-child {
    margin-bottom: 0;
  }

  .news-header-bear {
    flex: 0 0 400px;
    width: 400px;
    height: auto;
    position: relative;
  }

  .news-header-bear svg {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
  }

  @media (max-width: 1200px) {
    .news-header-container {
      flex-direction: column;
      padding: 40px var(--content-padding, 20px);
    }

    .news-header-content {
      flex: none;
      max-width: 100%;
    }

    .news-header-title {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 24px;
    }

    .news-header-description {
      font-size: 20px;
      line-height: 26px;
    }

    .news-header-description p {
      margin: 0 0 20px 0;
    }

    .news-header-bear {
      flex: none;
      width: 100%;
      max-width: 300px;
      height: auto;
      margin: 40px auto 0;
    }
  }

  @media (max-width: 768px) {
    .news-header-title {
      font-size: 36px;
      line-height: 40px;
    }

    .news-header-description {
      font-size: 18px;
      line-height: 24px;
    }

    .news-header-bear {
      max-width: 200px;
    }
  }
</style>
